body {
    background-color: rgba(250, 196, 79, 0.973);
    

}

header{
    padding: 50px;
    background-color: rgb(255, 166, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(255, 136, 0, 0.726);
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    
    
}




.BTN {
    border-radius: 3px;
			display: inline-block;
			padding: 20px 15px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
            background-color: rgba(255, 255, 0, 0.74);
            font-family: Arial, Helvetica, sans-serif;
            flex: 100%;
            font-size: 80%;
            height: 50%;
            width: 90%;
}

h3 {
    text-align: center;
    font-size: 200%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.LA {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    
    
}

.LAB {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    
    
}

.formInsertar{
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(255, 136, 0, 0.726);
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-align: center;
    
    
}

.mostrar {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 920px) {
    table {
        width:100%;
        text-align: center;
        margin: 0%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
   
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}

.LAIMG {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    
    text-align: center;
    
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    text-align: center;
    justify-content: space-evenly;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
   
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    
}

@media screen and (max-width: 1250px){
    nav, .row{
        flex-direction: column;
    }
}


.PF {
    text-align: center;
    font-size: 100%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.caja {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    width: 300px;
    height: 700px;
    margin: 20px;
    box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
    text-align: center;
    flex: 33%;

}

img {
    width: 70%;
    height: 60%;
    flex: 100%;
}


.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 1200px){
    .cont{
        
        grid-template-columns: 1fr 1fr ;
    }

}

@media(max-width: 750px){
    .cont{
        
        grid-template-columns: 1fr ;
        text-align: center;
    }
    .caja {
        background-color: burlywood;
        width: 280px;
        height: 600px;
        font-size: 65%;
        box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
        text-align: center;
        display: flex;
        padding-top: 5%;
        
        
    }
    img {
        max-width: 350px;
        max-height: 350px;
    }

    

    
   
    

   
}

@media(max-width: 350px){
    .cont{
        
        grid-template-columns: 1fr ;
        text-align: center;
    }
    .caja {
        background-color: burlywood;
        width: 160px;
        height: 300px;
        font-size: 45%;
        box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
        text-align: center;
        display: flex;
        padding-top: 5%;
        
        
    }
    img {
        max-width: 230px;
        max-height: 230px;
    }

    

    
   
    

   
}




footer{
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.BTNL {
    border-radius: 3px;
			display: inline-block;
			padding: 20px 15px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
            background-color: rgba(255, 255, 0, 0.74);
            font-family: Arial, Helvetica, sans-serif;
            flex: 100%;
            font-size: 80%;
            height: 20%;
            width: 40%;
            text-align: center;
}