*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
   
}

header{
    padding: 50px;
    background-color: rgb(255, 166, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
    text-align: center;
    justify-content: space-evenly;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
}

nav a{
   
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color: beige;
    padding: 30px;
}

section{
    flex: 60%;
    background-color: rgba(250, 196, 79, 0.973);
    padding: 20px;
}

.BTN {
    border-radius: 3px;
			display: inline-block;
			padding: 20px 15px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
            background-color: rgba(255, 255, 0, 0.74);
            font-family: Arial, Helvetica, sans-serif;
            flex: 100%;
            font-size: 90%;
            height: 20%;
            width: 30%;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}

#pie{
    font-size: smaller;
    text-align: right;
    font-style: initial;
    font-family: Arial, Helvetica, sans-serif;

}

#ta {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    table {
        width:100%;
        text-align: center;
        margin: 0%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
   
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}

.TDP {
    background-color: whitesmoke; 
    margin:5em;box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
    border: 2px solid rgb(230, 150, 2);
   
}

.PP {
    text-align: center;
    font-size: 130%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.PPP {
    text-align: justify;
    font-size: 130%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    text-align: center;
}



img {
    width: 70%;
    height: 60%;
    flex: 100%;
}

.caja {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    width: 300px;
    height: 700px;
    margin: 20px;
    box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
    text-align: center;
    flex: 33%;
    
}


h3 {
    text-align: center;
    font-size: 200%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 120%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 1200px){
    .cont{
        
        grid-template-columns: 1fr 1fr ;
    }

}

@media(max-width: 750px){
    .cont{
        
        grid-template-columns: 1fr ;
        text-align: center;
    }
    .caja {
        background-color: burlywood;
        width: 280px;
        height: 600px;
        font-size: 65%;
        box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
        text-align: center;
        display: flex;
        padding-top: 5%;
        
        
    }
    img {
        max-width: 350px;
        max-height: 350px;
    }

    

    
   
    

   
}

@media(max-width: 350px){
    .cont{
        
        grid-template-columns: 1fr ;
        text-align: center;
    }
    .caja {
        background-color: burlywood;
        width: 160px;
        height: 300px;
        font-size: 45%;
        box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
        text-align: center;
        display: flex;
        padding-top: 5%;
        
        
    }
    img {
        max-width: 230px;
        max-height: 230px;
    }

    

    
   
    

   
}

.contacto {
    font-size: 90%;
    text-align: center;
    
   
  
   
    
    
    
}

.LIS {
    list-style-image:url(MAKA.png);
    list-style-position:inside;
}

.MS {
    background-color: rgb(226, 148, 4); 
    margin:5em;box-shadow: 17px 29px 9px 0px rgba(0,0,0,0.75); 
    border: 5% solid rgba(116, 65, 0, 0.87);
    text-align: center;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
   
}

img.mini {
    width: 15%;
    height: 15%;
    flex: 100%;
}